/* Modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
}

.modal-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
}

/* Modal Content */
.modal-content {
  position: fixed !important;
  background-color: #FFE8D1; /* Cream */
  width: 300px;
  text-align: center;
  color: #072460; /* Patriotic Blue */
  font-weight: bold;
  border: 5px solid black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999 !important;
  border-radius: 10px;
}

/* Modal Header */
.modal-header {
  background-color: #568EA3; /* Steel Blue */
  padding: 15px;
  font-size: 1.8rem;
  color: #FFFFFF; /* White */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Modal Message */
.modal-message {
  background-color: #FFE8D1; /* Cream */
  padding: 20px;
  font-size: 1.2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Modal Actions */
.modal-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 10px 20px 0;
}

/* Confirm Button */
.confirm-btn {
  background-color: #568EA3; /* Steel Blue */
  color: #FFFFFF; /* White */
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.confirm-btn:hover {
  transform: scale(1.05);
  background-color: #457486; /* Darker Steel Blue */
}

/* Cancel Button */
.cancel-btn {
  background-color: #AE2335; /* Patriotic Red */
  color: #FFFFFF; /* White */
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.cancel-btn:hover {
  transform: scale(1.05);
  background-color: #B31942; /* Old Glory Red */
}

/* Input Fields */
.password-input {
  padding: 10px;
  width: 80%;
  margin-top: 15px;
  border: 2px solid #568EA3; /* Steel Blue */
  border-radius: 6px;
  font-size: 1rem;
  background-color: #FFFFFF; /* White */
  color: #072460; /* Patriotic Blue */
  font-weight: bold;
}